extends ../layouts/layout

block content
  .span4.center
    form.well(method='post', action='/sessions')
      legend
        small
          a.pull-right(href='/users/new') new user?
        span Log In

      .social-logins
        span Login via : 
        a.facebook(href='/auth/facebook')
          span.icon-stack
            i.icon-sign-blank.icon-stack-base
            i.icon-facebook.icon-light
        a.google(href='/auth/google')
          span.icon-stack
            i.icon-sign-blank.icon-stack-base
            i.icon-google-plus.icon-light
        a.github(href='/auth/github')
          span.icon-stack
            i.icon-sign-blank.icon-stack-base
            i.icon-github-alt.icon-light


      p.text-center - OR -

      fieldset
        include ../users/fields

      fieldset
        label.checkbox
          input(type='checkbox', name='remember_me')
          span Remember me

      fieldset
        button.btn.btn-primary(type='submit') Submit
