extends ../layouts/layout

block content
  .col-md-4.center.contact
    form.well(method='post', action='/contact')
      legend Contact Author

      p.
        If you face any issues or want to communicate with the author at any
          time, use this form.

      fieldset
        .form-group
          input.form-control(type='email', name='email', placeholder='Enter your email')
        .form-group
          input.form-control(type='text', name='subject', placeholder='Enter Subject')
        .form-group
          textarea.form-control(rows=5, name='message', placeholder='Enter Message')

        button.btn.btn-primary(type='submit') Send
