extends ../layouts/layout

block content
  .row-fluid.mb20
    .span4(data-bind="if: player1")
      .well.player(data-bind="template: {name: 'playerTemplate', data: {index: 1, player: player1()}}, css: {turn: player1().turn}")
    .span4.game
      .tictactoecubed(data-bind='with: tictactoecubed')
        .cubedlightbox(data-bind='visible: active')
        .tictactoes(data-bind='foreach: tictactoes, css: {solved: isSolved}')
          .tictacrow(data-bind='foreach: $data')
            .lightbox(data-bind='visible: !active()')
            .highlight(data-bind='visible: active')
            .tictoes(data-bind='foreach: tictoes, css: {won: won}')
              .ticrow(data-bind='foreach: $data')
                input(class='tictoe', data-bind="enable: isActive, event: {keypress: keypressed}, css: {won: won}, value: value")
          .clearfix
        .clearfix
    .span4(data-bind="if: player2, visible: player2")
      .well.player(data-bind="template: {name: 'playerTemplate', data: {index: 2, player: player2()}}, css: {turn: player2().turn}")
    .span4(data-bind="ifnot: player2, visible: !player2()")
      .well.player(data-bind="template: {name: 'playerBlankTemplate'}")
  .row-fluid
    #chatBox.well
      legend
        span Chat
        span#connected(title='Connecting...')
          span.icon-stack
            i.icon-circle.icon-stack-base
            i.icon.icon-remove
      .chats(data-bind='foreach: messages')
        .chat(data-bind="template: {name: 'messageTemplate', data: $data, afterRender: $root.scrollChat}")
      input#chatMessage.input-block-level(type='text', name='chatMessage', disabled)

block scripts
  script(type="text/html", id="playerTemplate")
    legend
      span Player 
      span(data-bind='text: index')
    .pull-left
      img.avatar(data-bind='attr: {src: player.avatar}')
    h3(data-bind='text: player.name')
    .info
      span Tic: 
      span(data-bind='text: player.tic')
  script(type="text/html", id="playerBlankTemplate")
    legend Player 2
    a.btn.btn-primary.join(href='/games/' + game.id + '/join', data-bind='css: {disabled: !$root.canJoin()}') Join
  script(type="text/html", id="messageTemplate")
    .pull-left
      img.avatar(data-bind='attr: {src: avatar}')
    .message.pull-left
      .username(data-bind='text: username')
      .message-text(data-bind='text: message')
    .clear
  != js('models/player')
  != js('models/tictoe')
  != js('models/tictactoe')
  != js('models/tictactoecubed')
  != js('models/game')
  script(type="text/javascript")
    var socket = io.connect(location.host);

    var user = !{JSON.stringify(currentUser)};
    var game = new Game(!{JSON.stringify(game)}, socket);

    ko.applyBindings(game);

    $(document).ready(function(){
      $('a.disabled').attr('href', '#')
                     .click(function(){
                       return false;
                     });
      $('a.join').click(function() {
        socket.emit('game.join');
      });
      $('#chatMessage').keypress(function(e) {
        if ( e.keyCode === 13 ) {
          socket.emit('sendMessage', $(this).val());
          $(this).val('');
        }
      });
    });
