.games(data-bind='foreach: filteredGames')
  .well.game-card.col-md-4.pull-left(data-bind='click: showGame, css: state')
    a.close(href="#") &times;
    .players
      .player.pull-left(data-bind="template: {name: 'playerTemplate', data: {join_url: join_url, player: player1()}}")
      .vs.pull-left VS
      .player.pull-left(data-bind="template: {name: 'playerTemplate', data: {join_url: join_url, player: player2()}}")
    .clear
    include share
.clear

script(type='text/html', id='playerTemplate')
  div(data-bind='if: player')
    .pull-left
      img(data-bind='attr: {src: player.avatar}', style="padding-right: 5px;")
    .name(data-bind="text: player.name")
  div(data-bind='ifnot: player')
    a.btn.btn-large.btn-primary.join(href='#', data-bind="click: $parent.joinGame, css: {disabled: !$parent.canJoin()}") Join
