extends ../layouts/layout

block content
  .row-fluid
    legend
      a.btn.btn-success.pull-right(href='/games/new')
        i.icon-fixed-width.icon-plus
        span New Game
      span Games
    table.table.table-hover
      thead
        tr
          th No.
          th Status
          th Player 1
          th Player 2
          th Winner
          th Actions
      tbody(data-bind='foreach: games')
        tr
          td(data-bind='text: $index()+1')
          td(data-bind='text: state')
          td(data-bind='text: player1')
          td(data-bind='text: player2')
          td(data-bind='text: winner')
          td(data-bind='html: actions')
      tbody(data-bind='if: games().length === 0')
        tr
          td(colspan=6) No games

block scripts
  != js('models/games')
  script(type='text/javascript')
    ko.applyBindings(new Games(!{JSON.stringify(games)}));
