extends ../layouts/layout

block content
  .row-fluid
    legend
      a.btn.btn-success.pull-right(href='/games/new')
        i.icon-fixed-width.icon-plus
        span New Game
      span Games
    .legend
      .box.waiting Waiting
      .box.started Started
      .box.forfeited Forfeited
      .box.finished Finished
    .clear
    .games(data-bind='foreach: games')
      .well.game-card(data-bind='click: showGame, css: state')
        .player.pull-left(data-bind="template: {name: 'playerTemplate', data: player1}")
        .vs.pull-left VS
        .player.pull-left(data-bind="template: {name: 'playerTemplate', data: player2}")

block scripts
  script(type='text/html', id='playerTemplate')
    div(data-bind='if: $data')
      .pull-left
        img(data-bind='attr: {src: avatar}', style="padding-right: 5px;")
      .name(data-bind="text: name")
    data(data-bind='ifnot: $data')
      a.btn.btn-primary.join(href='#', data-bind="click: $parent.joinGame, css: {disabled: !$parent.canJoin()}") Join
  != js('models/player')
  != js('models/games')
  script(type='text/javascript')
    var socket = io.connect(location.host);

    ko.applyBindings(new Games(!{JSON.stringify(games)}, socket));
