doctype 5
html(lang="en")
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    != css('style')
    != css("//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")
    block stylesheets

    if currentUser
      script(type='text/javascript')
        window.currentUserId = "#{currentUser._id}";
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar

          a.brand(href='/') Tic Tac Toe <sup>3</sup>

          .nav-collapse.collapse
            - console.log(currentUser)
            if currentUser
              ul.nav.pull-right
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle="dropdown")
                    span= currentUser.name
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='/users/' + currentUser._id)
                        i.icon-fixed-width.icon-user
                        span Profile
                    li
                      a#logout(href='#')
                        i.icon-fixed-width.icon-off
                        span Logout
              ul.nav.navbar-text.pull-right
                img(src=gravatarUrl)

            ul.nav
              if currentUser
                li(class=(activeNav == 'dashboard' ? 'active' : ''))
                  a(href='/')
                    i.icon-fixed-width.icon-home
                    span Dashboard
                li(class=(activeNav == 'games' ? 'active' : ''))
                  a(href='/games')
                    i.icon-fixed-width.icon-gamepad
                    span Games
              else
                li(class=(activeNav == 'about' ? 'active' : ''))
                  a(href="#")
                    i.icon-fixed-width.icon-info-sign
                    span About
                li(class=(activeNav == 'contact' ? 'active' : ''))
                  a(href="#")
                    i.icon-fixed-width.icon-envelope
                    span Contact
    .container-fluid
      .span4.center
        if flash
          .alert.alert-block(class=('alert-' + flash.type))
            button.close(type='button', data-dismiss='alert') &times;
            = flash.message
      block content
    script(src="/js/jquery.js")
    script(src="/js/knockout.js")
    script(src="/js/bootstrap.js")
    script(src="/socket.io/socket.io.js")
    != js('app')
    block scripts
